html {
  font-family: 'Open Sans', sans-serif; /* Use the chosen font */
}

.custom-navbar {
  background-color: #3143e8;
  padding: 1rem 0;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 1rem;
  transition: background-color 0.3s ease;
}

.nav-item.active {
  background-color: green;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  display: flex;
  align-items: center; 
}

.nav-icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

/* Custom color for the toggler button icon */
.navbar-toggler-icon {
  background-color: rgb(255, 255, 255);
}

/* Custom color for the toggler button background */
.navbar-toggler {
  background-color: rgb(255, 255, 255);
  border-color: blue; /* Also change the border color if needed */
  margin-left: 1rem;
}

.nav-item:hover .nav-link {
  color: yellow;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
}

.table img {
  max-width: 100px; /* Adjust the max-width to your preference */
  height: auto;
  display: block;
  margin: 0 auto;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center contents horizontally */
  height: 100vh;
}

.row-item {
  flex: 1 1 calc(33.33% - 2rem); /* Distribute rows equally with 2rem margin */
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 10px;
  box-sizing: border-box; /* Ensure padding and border are included in element's dimensions */
}


.row-item img {
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

/* Display one item on small screens */
@media (max-width: 575.98px) {
  .row-item {
    flex: 0 0 100%; /* Take up full width */
  }
}

/* Display two items on medium-small screens */
@media (min-width: 576px) and (max-width: 767.98px) {
  .row-item {
    flex: 0 0 calc(50% - 2rem);
    margin: 1rem;
  }
}

/* Display one item on middle screens */
@media (min-width: 768px) and (max-width: 991.98px) {
  .row-item {
    flex: 0 0 calc(33.33% - 2rem);
    margin: 1rem;
  }
  .header {
    display: none;
  }
}

/* Display three items on larger screens */
@media (min-width: 992px) {
  .row-item {
    flex: 0 0 calc(25% - 2rem);
    margin: 1rem;
  }
  .custom-header {
    display: none;
  }
}

.custom-header {
  color: yellow;
  font-style: italic;
  padding-right: 8rem;
}

.dropdown-button {
  margin-top: 10px; /* Adjust the value as needed */
}

.dropdown-container {
  display: flex; /* Display the dropdowns side by side */
  align-items: center; /* Center items vertically within the container */
  gap: 20px; /* Add some space between the dropdowns */
}

.dropdown {
  margin-right: 100px; /* Add space between the dropdowns horizontally */
}